{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for t in history %}
            <tr>
                <td>{{t["symbol"]}}</td>
                <td>{{t["amount"]}}</td>
                <td>{{t["price"] | usd}}</td>
                <td>{{t["crated_date"]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock %}
